@model IPagedList<SaoBei.Models.Jogo>
@using PagedList;
@using PagedList.Mvc;
@using SaoBei.Models;

@{
    ViewBag.Title = "Jogos";
}

<div class="panel panel-default">
    <div class="panel-heading">Jogos</div>
    <div class="panel-body">
        @using (Html.BeginForm("Index", "Jogos", FormMethod.Get))
        {
            <div class="row">
                <div class="col-md-4">
                    <label for="situacao">Situação</label>
                    @Html.DropDownList("situacao", EnumHelper.GetSelectList(typeof(SituacaoJogo)), "Todos", new { @class = "form-control"})
                    @Html.Hidden("hfsituacao", ViewBag.SituacaoAtual as string, htmlAttributes: new { @value = @ViewBag.SituacaoAtual })
                </div>
                <div class="col-md-2">
                    <label for="DataInicio">Início</label>
                    @Html.TextBox("dataInicio", ViewBag.DataInicioAtual as string, htmlAttributes: new { @class = "form-control datepicker", @placeholder = "dd/mm/aaaa" })
                </div>
                <div class="col-md-2">
                    <label for="DataFim">Fim</label>
                    @Html.TextBox("dataFim", ViewBag.DataFimAtual as string, htmlAttributes: new { @class = "form-control datepicker", @placeholder = "dd/mm/aaaa" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="filtro">Adversário</label>
                    @Html.TextBox("filtro", ViewBag.FiltroAtual as String, htmlAttributes: new { @class = "form-control", @placeholder = "Adversário" })
                </div>
            </div>
            <br />
            <div>
                <button type="submit" id="btnPesquisar" class="btn btn-primary pull-left"><i class="glyphicon glyphicon-search"></i> Pesquisar</button>
                <button type="reset" class="btn btn-danger" style="margin-left: 3px">Limpar</button>
               
                <button type="button" title="Novo" name="btnNovo" id="btnNovo" class="btn btn-success pull-right" onclick="location.href='@Url.Action("Jogo", "Jogos")'">
                    <i class="glyphicon glyphicon-plus"></i> Novo item
                </button>
            </div>
        }
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.ActionLink("Adversario", "Index", new { sortOrder = ViewBag.AdversarioSort, filtroAtual = @ViewBag.FiltroAtual })
                </th>
                <th>
                    Local
                </th>
                <th>
                    @Html.ActionLink("Data", "Index", new { sortOrder = ViewBag.DataSort, filtroAtual = @ViewBag.FiltroAtual })
                </th>
                <th>
                    Situação
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adversario.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocalJogo.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SituacaoJogo)
                    </td>
                    <td>
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary edit" title="Editar" onclick="location.href='@Url.Action("Jogo", "Jogos", new { item.ID })'"><i class="glyphicon glyphicon-edit"></i></button>
                            <button class="btn btn-default details" title="Visualizar" data-id="@item.ID"><i class="glyphicon glyphicon-new-window"></i></button>
                        </div>
                    </td>
                </tr>
            }

        </table>
    </div>
    <div class="panel-footer">
        Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index", new
   {
       page,
       sortOrder = ViewBag.CurrentSort,
       filtroAtual = ViewBag.FiltroAtual,
       dataInicioAtual = ViewBag.DataInicioAtual,
       dataFimAtual = ViewBag.DataFimAtual,
       situacaoAtual = ViewBag.SituacaoAtual
   }), PagedListRenderOptions.Classic)
    </div>
</div>
<div id="detalhes" class="modal"></div>

@section Scripts {
    @Scripts.Render("~/Scripts/Views/Jogos/Index.js")
}