@model SaoBei.Models.Calendario

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Usuário</h4>
        </div>
        <div class="modal-body">
            <p>@Html.DisplayNameFor(model => model.Ano): @Html.DisplayFor(model => model.Ano)</p>
            <p>@Html.DisplayNameFor(model => model.Janeiro): @Html.DisplayFor(model => model.Janeiro)</p>
            <p>@Html.DisplayNameFor(model => model.Fevereiro): @Html.DisplayFor(model => model.Fevereiro)</p>
            <p>@Html.DisplayNameFor(model => model.Marco): @Html.DisplayFor(model => model.Marco)</p>
            <p>@Html.DisplayNameFor(model => model.Abril): @Html.DisplayFor(model => model.Abril)</p>
            <p>@Html.DisplayNameFor(model => model.Marco): @Html.DisplayFor(model => model.Marco)</p>
            <p>@Html.DisplayNameFor(model => model.Maio): @Html.DisplayFor(model => model.Maio)</p>
            <p>@Html.DisplayNameFor(model => model.Junho): @Html.DisplayFor(model => model.Junho)</p>
            <p>@Html.DisplayNameFor(model => model.Julho): @Html.DisplayFor(model => model.Julho)</p>
            <p>@Html.DisplayNameFor(model => model.Agosto): @Html.DisplayFor(model => model.Agosto)</p>
            <p>@Html.DisplayNameFor(model => model.Setembro): @Html.DisplayFor(model => model.Setembro)</p>
            <p>@Html.DisplayNameFor(model => model.Outubro): @Html.DisplayFor(model => model.Outubro)</p>
            <p>@Html.DisplayNameFor(model => model.Novembro): @Html.DisplayFor(model => model.Novembro)</p>
            <p>@Html.DisplayNameFor(model => model.Dezembro): @Html.DisplayFor(model => model.Dezembro)</p>
            <p>@Html.DisplayNameFor(model => model.ValorMensalidade): @Html.DisplayFor(model => model.ValorMensalidade)</p>
            <p>@Html.DisplayNameFor(model => model.ValorAnuidade): @Html.DisplayFor(model => model.ValorAnuidade)</p>
            <p>@Html.DisplayNameFor(model => model.DataVencimentoAnuidade): @Html.DisplayFor(model => model.DataVencimentoAnuidade)</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
    </div>
</div>
