@model SaoBei.Models.Adversario

@{
    ViewBag.Title = "Adversario";
}

<h2>Adversario</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

    <div class="row">
        <div class="col-md-12">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nome" } })
            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @Html.LabelFor(model => model.NomeContato, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.NomeContato, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nome do contato" } })
            @Html.ValidationMessageFor(model => model.NomeContato, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @Html.LabelFor(model => model.Telefone, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control", @placeholder = "(00) 0000-0000" } })
            @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
        </div>
    </div>    

    <div class="checkbox">
        @Html.EditorFor(model => model.Ativo)
        @Html.LabelFor(model => model.Ativo, htmlAttributes: new { @class = "control-label" })
        @Html.ValidationMessageFor(model => model.Ativo, "", new { @class = "text-danger" })
    </div>

    <div class="row">
        <div class="col-md-10">
            <button type="submit" class="btn btn-primary" title="Salvar"><i class="glyphicon glyphicon-floppy-save"></i> Salvar</button>
            <button type="button" class="btn btn-danger" title="Voltar" onclick="location.href='@Url.Action("Index", "Adversarios")'"><i class="glyphicon glyphicon-arrow-left"></i> Voltar</button>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Views/Adversarios/Adversario.js")
}
